<!DOCTYPE html>
<html>
   <head>
      <title></title>
   </head>
   <body>
      <div class="container main">
         <h2>Create your listing</h2>
         <form class="form-horizontal col-lg-8 col-lg-offset-2">
            <div class="form-group">
               <label for="title">Title</label> <input class="form-control"
                  id="title" placeholder="Enter title" type="text">
            </div>
            <div class="form-group info">
               <label>Address</label>
               <div class="form-inline">
                  <div class="form-group">
                     <input class="form-control address" id="street"
                        placeholder="Enter street" type="text">
                  </div>
                  <div class="form-group">
                     <input class="form-control address" id="city"
                        placeholder="Enter city" type="text">
                  </div>
                  <div class="form-group">
                     <input class="form-control address" id="state"
                        placeholder="Enter state" type="text">
                  </div>
                  <div class="form-group">
                     <input class="form-control address" id="zip"
                        placeholder="Enter zip" type="number">
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label>GPS Location</label>
               <div class="form-inline">
                  <div class="form-group">
                     <input class="form-control gps" id="lat" placeholder="Enter latitude" type="text"> 
                     <input class="form-control gps" id="lng" placeholder="Enter longitude" type="text">
                  </div>
                  <div class="form-group">
                     <div class="select-gps" id="select_location"></div>
                  </div>
               </div>
            </div>
            <div class = 'form-group'>
               <div class = "col-lg-12">
                  <div class="col-lg-4">
                     <div class="form-group info">
                        <div class='form-inline'>
                           <label class="control-label" for="height">Height</label> 
                           <input class="form-control" id="height" placeholder="Enter height" type="number">
                           <label class="control-label" for="width">Width</label>
                           <input class="form-control" id="width" placeholder="Enter width" type="number">
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="form-group info">
                        <div class='form-inline'>
                           <label for="views">Views per week</label> <input class=
                              "form-control" id="views" placeholder="Enter views"
                              type="number"> <label for="cost">Cost per week</label>
                           <input class="form-control" id="cost" placeholder=
                              "Enter cost" type="number">
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="form-group info">
                        <div class='form-inline'>
                           <label for="time">Time per click</label> 
                           <input class="form-control" id="time" placeholder="Enter time (s)" type="number"> 
                           <label for="resolution">Screen Resolution X</label> 
                           <input class="form-control" id="screen_resolution_x" placeholder="Enter resolution" type="number"> 
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="form-group info">
                        <div class='form-inline'>
                           <label for="resolution">Screen Resolution Y</label> 
                           <input class="form-control" id="screen_resolution_y" placeholder="Enter resolution" type="number">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label for="description">Description</label>
               <textarea class="form-control" id="description" placeholder="Enter more information" rows="6">
               </textarea>
            </div>
            <div class="form-group">
               <div class="col-lg-offset-1 col-lg-10">
                  <button class="btn btn-default" id="submit" type="submit">Submit</button>
               </div>
            </div>
         </form>
      </div>
   </body>
</html>
<% @messages.each do |message|%>
   <h1>
      <%= message.text %>
   </h1>
<% end %>
