<!DOCTYPE html>
<html>
   <a href="/listings/show?listing_id=<%=listing.id%>">
      <div>
         <h4><%=listing.title%></h5>
         <h5>Views per week: <%=listing.views_per_week%></h5>
         <h5>Cost per week: $<%=listing.cost_per_week%></h5>
      </div>
   </a>
</html>
