<% placeholder = "Enter a city" %>
<div id="container">
  <div id="contentDiv">
    <form action="" id="searchForm" name="searchForm" onsubmit="/search">
      <input type="text" id="searchBox" name="city" class="barInitial" placeholder= "<%= @city.nil? ? 'Enter a city' : @city %>" >
      <input type="button" id="searchButton">
    </form>
    <div class="result">
	    <div class="content">
	  	  <h3 class="title">
	  	  	<a href="" style="">Nice sidewalk ad space.</a>
	  	  </h3>
	  	  <p class="listingInfo"><b>Height:</b> 30ft</p>
	  	  <p class="listingInfo"><b>Width:</b> 40ft</p>
	  	  <p class="listingInfo"><b>Time per view:</b> 8 seconds </p>
	  	  <p class="listingInfo"><b>Views per week:</b> 1300</p>
	  	  <p class="listingInfo"><b>Cost per week:</b> $300</p>
	  	  <p class="listingInfo"><b>Address:</b> 1234 South Street Berkeley, CA 94704</p>
	     </div>
     </div>
    <div class="result">
	    <div class="content">
	  	  <h3 class="title">
	  	  	<a href="" style="">Nice sidewalk ad space.</a>
	  	  </h3>
	  	  <p class="listingInfo"><b>Height:</b> 30ft</p>
	  	  <p class="listingInfo"><b>Width:</b> 40ft</p>
	  	  <p class="listingInfo"><b>Time per view:</b> 8 seconds </p>
	  	  <p class="listingInfo"><b>Views per week:</b> 1300</p>
	  	  <p class="listingInfo"><b>Cost per week:</b> $300</p>
	  	  <p class="listingInfo"><b>Address:</b> 1234 South Street Berkeley, CA 94704</p>
	     </div>
     </div><div class="result">
	    <div class="content">
	  	  <h3 class="title">
	  	  	<a href="" style="">Nice sidewalk ad space.</a>
	  	  </h3>
	  	  <p class="listingInfo"><b>Height:</b> 30ft</p>
	  	  <p class="listingInfo"><b>Width:</b> 40ft</p>
	  	  <p class="listingInfo"><b>Time per view:</b> 8 seconds </p>
	  	  <p class="listingInfo"><b>Views per week:</b> 1300</p>
	  	  <p class="listingInfo"><b>Cost per week:</b> $300</p>
	  	  <p class="listingInfo"><b>Address:</b> 1234 South Street Berkeley, CA 94704</p>
	     </div>
     </div><div class="result">
	    <div class="content">
	  	  <h3 class="title">
	  	  	<a href="" style="">Nice sidewalk ad space.</a>
	  	  </h3>
	  	  <p class="listingInfo"><b>Height:</b> 30ft</p>
	  	  <p class="listingInfo"><b>Width:</b> 40ft</p>
	  	  <p class="listingInfo"><b>Time per view:</b> 8 seconds </p>
	  	  <p class="listingInfo"><b>Views per week:</b> 1300</p>
	  	  <p class="listingInfo"><b>Cost per week:</b> $300</p>
	  	  <p class="listingInfo"><b>Address:</b> 1234 South Street Berkeley, CA 94704</p>
	     </div>
     </div><div class="result">
	    <div class="content">
	  	  <h3 class="title">
	  	  	<a href="" style="">Nice sidewalk ad space.</a>
	  	  </h3>
	  	  <p class="listingInfo"><b>Height:</b> 30ft</p>
	  	  <p class="listingInfo"><b>Width:</b> 40ft</p>
	  	  <p class="listingInfo"><b>Time per view:</b> 8 seconds </p>
	  	  <p class="listingInfo"><b>Views per week:</b> 1300</p>
	  	  <p class="listingInfo"><b>Cost per week:</b> $300</p>
	  	  <p class="listingInfo"><b>Address:</b> 1234 South Street Berkeley, CA 94704</p>
	     </div>
     </div><div class="result">
	    <div class="content">
	  	  <h3 class="title">
	  	  	<a href="" style="">Nice sidewalk ad space.</a>
	  	  </h3>
	  	  <p class="listingInfo"><b>Height:</b> 30ft</p>
	  	  <p class="listingInfo"><b>Width:</b> 40ft</p>
	  	  <p class="listingInfo"><b>Time per view:</b> 8 seconds </p>
	  	  <p class="listingInfo"><b>Views per week:</b> 1300</p>
	  	  <p class="listingInfo"><b>Cost per week:</b> $300</p>
	  	  <p class="listingInfo"><b>Address:</b> 1234 South Street Berkeley, CA 94704</p>
	     </div>
     </div><div class="result">
	    <div class="content">
	  	  <h3 class="title">
	  	  	<a href="" style="">Nice sidewalk ad space.</a>
	  	  </h3>
	  	  <p class="listingInfo"><b>Height:</b> 30ft</p>
	  	  <p class="listingInfo"><b>Width:</b> 40ft</p>
	  	  <p class="listingInfo"><b>Time per view:</b> 8 seconds </p>
	  	  <p class="listingInfo"><b>Views per week:</b> 1300</p>
	  	  <p class="listingInfo"><b>Cost per week:</b> $300</p>
	  	  <p class="listingInfo"><b>Address:</b> 1234 South Street Berkeley, CA 94704</p>
	     </div>
     </div><div class="result">
	    <div class="content">
	  	  <h3 class="title">
	  	  	<a href="" style="">Nice sidewalk ad space.</a>
	  	  </h3>
	  	  <p class="listingInfo"><b>Height:</b> 30ft</p>
	  	  <p class="listingInfo"><b>Width:</b> 40ft</p>
	  	  <p class="listingInfo"><b>Time per view:</b> 8 seconds </p>
	  	  <p class="listingInfo"><b>Views per week:</b> 1300</p>
	  	  <p class="listingInfo"><b>Cost per week:</b> $300</p>
	  	  <p class="listingInfo"><b>Address:</b> 1234 South Street Berkeley, CA 94704</p>
	     </div>
     </div>

</div>
