
  <style>
	.form-inline .form-group{
		margin-left: 0;
		margin-right: 0;
	}
	.main-container{
		background-color: #f1f1f1;
        padding-left: 50px;
        padding-top: 50px;
	}
    body{
        background-color: #f1f1f1;
    }
	.btn{
		  border: 1px solid #3079ed;
		  color: #ffffff;
		  text-shadow: 0 1px rgba(0,0,0,0.1);
		  background-color: #4d90fe;
		  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
		  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
		  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
		  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
		  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
		  background-image: linear-gradient(top,#4d90fe,#4787ed);
	}
	.btn:hover{
		  border: 1px solid #2f5bb7;
		  color: #ffffff;
		  text-shadow: 0 1px rgba(0,0,0,0.3);
		  background-color: #357ae8;
		  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
		  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
		  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
		  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
		  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
		  background-image: linear-gradient(top,#4d90fe,#357ae8);
	}
	.btn:active{
		background-color: #357ae8;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
		background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
		background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
		background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
		background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
		background-image: linear-gradient(top,#4d90fe,#357ae8);
		-webkit-box-shadow: inset 0 1px 2px rgb	a(0,0,0,0.3);
		-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	}
  </style>
  <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <button class="navbar-toggle" data-target=".navbar-collapse"
                      data-toggle="collapse" type="button"><span class=
                          "icon-bar"></span> <span class="icon-bar"></span> <span class=
                              "icon-bar"></span></button> <a class="navbar-brand" href=
                                  "/">CR<i class="fa fa-circle"></i>WDCAST</a>
              </div>

              <div class="navbar-collapse collapse">
                  <div class="nav navbar-nav navbar-right" style=
                      "margin-left: 2em">
                      <section>
                          <div class=
                              "morph-button morph-button-modal morph-button-modal-3 morph-button-fixed">
                              <button type="button">Login</button>

                              <div class="morph-content">
                                  <div>
                                      <div class=
                                          "content-style-form content-style-form-1">
                                          <span class="icon icon-close"></span>

                                          <h2>Login</h2>

                                          <form>
                                              <p><label>Email</label><input type=
                                                  "text"></p>

                                                  <p>
                                                  <label>Password</label><input type=
                                                      "password"></p>

                                                      <p><button>Login</button></p>
                                                      </form>
                                      </div>
                                  </div>
                              </div>
                          </div><!-- morph-button -->

                          <div class=
                              "morph-button morph-button-modal morph-button-modal-3 morph-button-fixed">
                              <button type="button">Signup</button>

                              <div class="morph-content">
                                  <div>
                                      <div class=
                                          "content-style-form content-style-form-2">
                                          <span class="icon icon-close"></span>

                                          <h2>Sign Up</h2>

                                          <form>
                                              <p><label>Email</label><input type=
                                                  "text"></p>

                                                  <p>
                                                  <label>Password</label><input type=
                                                      "password"></p>

                                                      <p><label>Repeat
                                                          Password</label><input type=
                                                              "password"></p>

                                                              <p><button>Sign Up</button></p>
                                                              </form>
                                      </div>
                                  </div>
                              </div>
                          </div><!-- morph-button -->

                          <div class=
                              "morph-button morph-button-modal morph-button-modal-3 morph-button-fixed">
                              <button onclick="location.href='createlisting.html'"
                                  type="button">Create</button>
                          </div>

                          <div class=
                              "morph-button morph-button-modal morph-button-modal-3 morph-button-fixed">
                              <button onclick="location.href='search.html'"
                                  type="button">Search</button>
                          </div>

                      </section>
                  </div>
              </div><!-- /form-mockup -->
          </div><!--/.nav-collapse -->
      </div>

<div class="main-container">
      <h2>Listing Details</h2>
</div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
  </body>
</html>
