<div class = "row">
  <div class = "col-lg-2 col-md-2 hidden-sm hidden-xs">
    <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu owner" id="nav-accordion">
        <h4 class="centered"><%=@current_user.username %></h4>

        <li>
          <%= link_to(owner_dashboard_path, :class => 'active') do %>
          <i class="fa fa-tasks"></i> Dashboard
          <% end %>
        </li>

        <li>
          <%= link_to owner_dashboard_mail_path do %>
          <i class="fa fa-envelope"></i> Mail
          <% end %>
        </li>

        <li>
          <%= link_to owner_dashboard_listings_path do %>
          <i class="fa fa-tasks"></i> My Listings
          <% end %>
        </li>
</ul>

      </div></div>


      <!--sidebar end-->


    </div>
