<!-- Written by: Jessica Wong -->

<body>


    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Advertising has never been <b>easier</b></h1>

                    <h2>'Request a quote' is now a thing of the past</h2>
                </div>
                
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- headerwrap -->



    <div class="container w">
        <div class="row centered">
            <br>
            <br>

            <div class="col-lg-4">
                <i class="fa fa-money"></i>

                <h4>NO THIRD PARTY FEES</h4>

                <p>We are cutting out the middleman.</p>
            </div><!-- col-lg-4 -->

            <div class="col-lg-4">
                <i class="fa fa-map-marker"></i>

                <h4>FIND A PERFECT DIGITAL SPACE IN THE BAY AREA TO ADVERTISE
                YOUR BUSINESS</h4>

                <p>Search through available digital signage spaces and see how
                much.</p>
            </div><!-- col-lg-4 -->

            <div class="col-lg-4">
                <i class="fa fa-laptop"></i>

                <h4>UPLOAD YOUR AD IN THE COMFORT OF YOUR OWN OFFICE</h4>

                <p>Take your campaign to the next level.</p>
            </div><!-- col-lg-4 -->
        </div><!-- row -->
        <br>
        <br>
    </div><!-- container -->


<!--
<div class = 'faq'>
  <div class = "container">

    <div class="section-title">
      <h5>Frequently Asked Questions</h5>
    </div>
    <section class="row faq space">
      <div class="col-md-6">
        <h6>Where should I advertise to make the most impact?</h6>
        <p>The Department of Justice appears to have backed off prosecution of JPMorgan for massiveMorgan Chase securities lawyer who knew the bank was bundling bad mortgages and selling them to investors helped the Securities and Exchange Committee and the U.S. Attorney’s Office for the Eastern District of California investigate the bank’s transgressions.</p>
        <h6>How do I know that I'm getting the best price?</h6>
        <p>after choosing to take a huge cash settlement instead. Rolling Stone reports that a former JPMorgan Chase securities lawyer who knew the bank was bundling bad mortgages and selling them to investors helped the Securities and Exchange Committee and the U.S.</p>
      </div>

      <div class="col-md-6">
        <h6>How do payments work?</h6>
        <p>No. You get the full featured, unlimited version of our service completely free for 10 days. Once you're ready to upgrade, you may choose a plan which suits your needs.</p>
        <h6>What payment types do you accept?</h6>
        <p>ultimately led a scheduled press conference where Attorney General Eric Holder was supposed to announce a list of civil fraud charges against the bank—but the conference never happened an</p>
      </div>
    </section>

  </div>
</div>-->





<div class = 'footer'>
    <div class="container">
      <section class="row space">
        <div class="col-md-12 footerlinks">
          <p>&copy; 2014 CrowdCast.co</p>
        </div>
      </section><! --/section -->
    </div><! --/container -->
</div>



</body>
