/* Written by: Jessica Wong */

<body>


    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Advertising has never been <b>easier</b></h1>

                    <h2>'Request a quote' is now a thing of the past</h2>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- headerwrap -->



    <div class="container w">
        <div class="row centered">
            <br>
            <br>

            <div class="col-lg-4">
                <i class="fa fa-money"></i>

                <h4>NO THIRD PARTY FEES</h4>

                <p>We are cutting out the middleman.</p>
            </div><!-- col-lg-4 -->

            <div class="col-lg-4">
                <i class="fa fa-map-marker"></i>

                <h4>FIND A PERFECT DIGITAL SPACE IN THE BAY AREA TO ADVERTISE
                YOUR BUSINESS</h4>

                <p>Search through available digital signage spaces and see how
                much</p>
            </div><!-- col-lg-4 -->

            <div class="col-lg-4">
                <i class="fa fa-laptop"></i>

                <h4>UPLOAD YOUR AD IN THE COMFORT OF YOUR OWN OFFICE</h4>

                <p></p>
            </div><!-- col-lg-4 -->
        </div><!-- row -->
        <br>
        <br>
    </div><!-- container -->






</body>
