<!--Written by: Akaljot, Jessica, Jhoong -->
<div id='content'>
   <div class='container'>
      <div id='calendar'></div>
      <!-- Button trigger modal -->
         <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
           Delete all reservations
         </button>

         <!-- Modal -->
         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           <div class="modal-dialog">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                 <h4 class="modal-title" id="myModalLabel">Delete event</h4>
               </div>
               <div class="modal-body">
                 Are you sure you want to delete all reservations?
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 <button type="button" id="deleteEvent" class="btn btn-primary">Delete</button>
               </div>
             </div>
           </div>
         </div> <!-- end of modal-->
      </div>
   </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
      var today_date = moment().utc().startOf('day');
      var year_from_today_date = moment().add(1, "years").utc().startOf('day');
      var eventid = 0;
      var eventArrayID = [];
      $('#calendar').fullCalendar({
        // put your options and callbacks here
         startParam: "start_date",
         endParam: "end_date",
         allDayDefault: true,
         selectable: true,
         selectHelper: true,
         eventBackgroundColor: 'grey',
         eventBorderColor: 'grey',
         select: function(start, end) {
            var start_date = start.utc().startOf('day');
            var end_date = end.utc().startOf('day');
            if (start_date < today_date) {
               alert("Can't select days in the past");
            }
            else if (end_date >= year_from_today_date){
               alert("Can't select days a year in the future");
            }
            else {
               var events = $('#calendar').fullCalendar( 'clientEvents', 
                  function(event){
                     var event_start_date = event.start.utc().startOf('day');
                     var event_end_date = event.end.utc().startOf('day');
                     if (start_date >= event_start_date && start_date <= event_end_date) return true;
                     else if (end_date >= event_start_date && end_date <= event_end_date) return true;
                     else if (start_date <= event_start_date && end_date >= event_end_date) return true;
                     else return false;
                  });
               var dates = new Object(); 
               for (var i in events){
                  var event_start_date = events[i].start.utc().startOf('day');
                  var event_end_date = events[i].end.utc().startOf('day');
                  var current_date;
                  var last_date;
                  if (start_date.isBefore(event_start_date)){
                     current_date = event_start_date.clone();
                  }
                  else {
                     current_date = start_date.clone();
                  }
                  if (end_date.isAfter(event_end_date)){
                     last_date = event_end_date.clone();
                  }
                  else {
                     last_date = end_date.clone();
                  }
                  while (current_date < last_date){
                     if (dates.hasOwnProperty(current_date)){
                        dates[current_date] += 1;
                     }
                     else {
                        dates[current_date] = 1;
                     }
                     current_date = current_date.add(1, "days");
                  }
               }
               var valid = true;
               for (var event in dates){
                  if (dates[event] >= 8){
                     valid = false;
                     break;
                  }
               }
               if (valid) {
                  var eventData;
                  eventData = {
                     id: eventid,
                     start: start_date.format('YYYY-MM-DD'),
                     end: end_date.format('YYYY-MM-DD'),
                     color: 'green'
                  };
                  $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                  eventArrayID.push(eventid);
                  eventid += 1;
               }
               else {
                  alert("Listings only support 8 ads per day");
               }
            }
            $('#calendar').fullCalendar('unselect');
         },
         editable: true,
         eventSources: [
            {
               url: "" + window.location.protocol + '//' + window.location.host + 
                    "/api/reservations?listing_id=" + '<%=@listing.id%>',
               type: "GET",
               error: function() {
                  alert('there was an error while fetching events!');
               },
            }
         ],
         eventClick: function(calEvent, jsEvent, view) {
            var recentlyCreated = eventArrayID.indexOf(calEvent.id) != -1;
            if (calEvent.id != undefined  && recentlyCreated && confirm('--Reservation details--\nReservation ID: '+calEvent.id
              +'\nReservation start: '+(calEvent.start).toISOString().slice(0, 10)
              +'\nReservation end: '+(calEvent.end).toISOString().slice(0, 10)
              +'\n\nIf you wish to delete this listing press OK')){
              $('#calendar').fullCalendar('removeEvents', calEvent._id);
            }
            if (calEvent.id == undefined){
              alert("--Reservation details--\n PUT STUFF HERE")
            }
         },
      });
      $("#deleteEvent").on("click", function(e) {
         deleteEvent(e.id);
         $('#myModal').modal('hide');
      });
      function deleteEvent(id){
         $('#calendar').fullCalendar('removeEvents', id);
      }
   })

</script>

