// Place all the styles related to the Advertisements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alignLine {
	display: inline;
}

#createAdBtnDiv, #AdField {
	margin-top: 20px;
}

#createAdBtnDiv {
	margin-left: 200px;
}

.create_advertisement {
	bottom: 0px;
	margin-left: 400px;
   	position: absolute;
   	top: 61.5px;
   	width: 950px;
}

#heightField, #widthField {
	width: 312.5px;
}

.heightWidthDiv {
	margin-left: 15px;
}

#hidden_submit {
	background-color: #4c4cff;
	color: white;
}

.textField {
	color: #3079ed;
}

#titlePage {
	font-weight: bold;
	margin-bottom: 30px;
}


#widthField {
	margin-right: 0px;
}
