// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tableProperties {
	margin-top: 40px;
	width: 400px;
	margin-left: 500px; 
	font-size: 20px;
	margin-bottom: 120px;
}
