/* Written by: Jason Clark */
/* Tiny changes by: Jhoong  */
html {
    margin:0px;
    height: 100%;
}

#search {
   position: absolute;
   top: 61.5px;
   bottom: 0px;
   left: 0px;
   right: 0px;
}

.search-results {
  margin-top:300px;
}

#logo {
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 100px;
	margin-bottom: 60px;
}
#container {
	width:100%;
	min-height:100%;
}

#contentDiv {
    width: 605px;
    margin-left:auto;
    margin-right:auto;
}

#results {
   vertical-align: middle;   
   padding-left:10px;
   overflow-y: scroll; 
   float: center;
   width: 60%;
   height: 100%;
}

#googlemap {
    float: left;
    padding-left:0px;
    width:40%;
    height:100%;
}
#map {
   width: 100%;
   height: 100%;
}

#searchForm {
	border:solid 3px #B4BFBF;
	border: none;
	height:40px;
	width:605px;
	background: white;
	margin-top: 100px;
	margin-bottom: 30px;
}

#searchButton{
	border:solid 3px #B4BFBF;
	border-left:none;
	background: url("/assets/search_icon.png") no-repeat;
	width:40px;
	height:38px;
	float:left;
	background-color:#ffffff;
	margin: 0px;

}

#listingInfo {
}

#searchButton:hover {

}

#searchBox {
	padding-left:20px;
	border:solid 3px #B4BFBF;
    height: 38px;
    width: 554px;
    margin-top: 2px;
    font-size: 1em;
    float:left;
    margin:0px;
    margin-left:4px;
}

textarea:focus, input:focus{
    outline: 0;
}

.ui-widget {
    font-family: arial !important;
    font-size: 1em !important;
    background: white;
}

.ui-autocomplete {
	background: white !important;
	width: 602px;
}

#tip {
	text-align: center;
	margin-top: 40px;
	font-family:arial;
	color: gray;
}

.result {
	padding: 10px;
}
